body {
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: inherit;
  background-color: #EDF8FF /*#DCF2FF*/;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  color: #246F9C;
}
a:hover {
  background-color: inherit;
  color: #1C99DE;
  text-decoration: underline;
}

a {
  transition: .5s ease-out background;
}
