html {
	background-color: #80807D;
}
body {
	font-family: "Linux Libertine O", "Times New Roman", serif;
	font-size: 12pt;
	background: linear-gradient(to right, #FAFAF7, #FAFAF7, #FAFAF7, #FAFAF7, #EBEBE7);
	max-width: 80ch;
	margin: auto;
	line-height: 1.4;
	padding: .5in;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
p {
	margin: 0px; 
	text-indent: 4ch; 
	hyphens: auto; 
	text-align: justify;
}
h1         {font-size: 150%;}
h2         {font-size: 130%;}
h3         {font-size: 110%;}
h1, h2, h3 {font-weight: normal;}
h4, h5, h6 {font-size: 100%;}
