body {
  font-family: "Times New Roman", "Times", serif;
  font-size: 13pt;
  hyphens: auto;
  text-align: justify;
  line-height: 200%;
  margin-left: 3cm;
  margin-right: 3cm;
  margin-top: 1cm;
  margin-bottom: 2cm;
}
p {
  margin: 0px;
  text-indent: 1cm;
}
h1 {
  text-align: center;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p {
  text-indent: 0px;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 140%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 120%
}
h5 {
  font-size: 110%;
}
h6 {
  font-size: 100%;
}
