body {
   max-width: 800px;
   margin: auto;
   padding: 10px;
   font-family: sans-serif;
   line-height: 1.4;
   color: rgba(0, 0, 0, .85);
}
h1, .author {
   text-align: center;
}

code {
   border: 1px solid #CCC;
   background: #EEE;
   padding-left: 2px;
   padding-right: 2px;
   border-radius: 3px;

}

a {
   color: #2A5DB0;
}

h1 {
   font-weight: normal;
}
h2 {
   font-weight: normal;
   color: #3e437a;
}
h2:after {
   display: block;
   content: " ";
   width: 100%;
   height: 1px;
   background: black;
}

h3 {
   color: #911f3d;
   font-size: 105%;
}

.note, .hint {
   display: block;
   padding: 5px;
   border-radius: 5px;
}
.note {
   background: #f4f2db;
   border: 1px solid #e3deb7;
}
.hint {
   background: #d4eec9;
   border: 1px solid #a2bf95;
}
