body {
  font-family: Freemono, courier, monospace;
  font-size: 11pt;
  hyphens: auto;
  line-height: 110%;
  max-width: 80ch;
  margin: auto;
}
p {
 margin-top: 1em;
  text-indent: 4ch;
}
h1 {
  text-align: center;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, hr + p {
  text-indent: 0px;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 140%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 120%
}
h5 {
  font-size: 110%;
}
h6 {
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  text-decoration: underline;
}
b, em, strong {
  font-weight: normal;
  text-decoration: underline;
  
}
li {
  list-style: none;
  position: relative;
}
li:before {
  content: "-";
  margin-left: -2ch;
}
