body {
  font-family: Linux Libertine O;
  font-size: 15pt;
  color: #242323;
  background-color: #F8F3F1;
  background: linear-gradient(#F8F3F1, #F2EAE6);
  max-width: 80ch;
  hyphens: auto;
  text-align: justify;
  line-height: 1.4;
  margin: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: gentium;
  font-size: 110%;
  line-height: 1;
}
h1 {
  font-size: 140%;
}
h2 {
  font-size: 120%;
}
a {
  color: #7A391F;
}
